@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: #f5d04e;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 380px;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 8px 8px 0px #000000;
    border: 1px solid rgb(0, 0, 0);
}

#illustration {
    margin-top: 20px;
    border-radius: 15px;
}

#desc {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

#learning {
    background-color: #f4d242;
    margin-right: 280px;
    margin-top: 30px;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    height: 35px;
    font-weight: 800;
    border-radius: 5px;
}

#htmlcss {
    font-weight: 800;
    font-size: 1.6rem;
}

#description {
    color: #8a8a8a;
    width: 370px;
    letter-spacing: 0.5px;
}

#image {
    width: 30px;
    border-radius: 50px;
}

#position {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}   

#greg {
    font-weight: 700;
    padding-top: 5px;
}

#avatar {
    display: flex;
    padding-top: 30px;
    gap: 15px;
    padding-right: 200px;
}